
/* 
COLORS
--------------------------------------------
*/

// General
$c-orange:   #E88E50;
$c-yellow:   #13151C;
$c-purple:   #7264AB;
$c-grey:     #4F4B52;
$c-darkgrey: #18191F;

// Element Specific
$c-bg-lcd: #D4E2E3;
$c-fg-lcd: #000000;

// button shadow lighting
$bottom-shadow-intensity: 0.6;
$bottom-shadow-length:    7.5%;
$top-shadow-intensity:    0.4;
$top-shadow-length:       97%;



/* 
LAYOUT VALUES
--------------------------------------------
*/

// Radi
$base-border-radius: 0.5rem;

// Paddings
$display-padding: 10px;

// Heights 
$calculator-height:   800px;
$display-height:      150px;
$keyboard-btn-height: 60px;

// Widths
$calculator-width: 500px;

// Gaps
$keyboard-elem-gap: 8px;

// Distances
$elem-border-distance: 15px;

// Font Specific
$display-font-size:  35px;
$keyboard-font-size: 30px;


