@import "_variables.scss";
@import "_buttons.scss";
@import "_mixins.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin:     0;
  padding:    0;
}




.wrapper{
  display: flex;
  height:  100vh;

  justify-content: center;
  align-items:     center;
}





.calculator {
  flex:             1;
  display:          flex;
  flex-direction:   column;

  max-height:       $calculator-height;
  max-width:        $calculator-width;

  padding:          $elem-border-distance;
  gap:              $elem-border-distance;
  border-radius:    $base-border-radius;

  background-color: $c-darkgrey;
  box-shadow: 10px 10px 10px grey;


  @at-root .calculator__display {
    display:          flex;
    flex-direction:   column;
    min-height:       $display-height;
    padding:          $display-padding;
    
    border-radius:    $base-border-radius;
    background-color: $c-bg-lcd;

    @at-root .display {
      flex: 1;
      @include display-font($display-font-size);
      text-shadow: 3px 3px 2px grey;
    }

    @at-root .display__expression {
      align-self:   flex-start;
      margin-right: auto;
    }


    @at-root .display__result {
      align-self:     flex-end;
      align-content:  flex-end;
      margin-left:    auto;
    }
  }


  @at-root .calculator__keyboard {
    display:        flex;
    flex-direction: column;
    gap:            $keyboard-elem-gap;


    @at-root .keyboard__keyrow {
      display: flex;
      gap:     $keyboard-elem-gap;


      @at-root .keyboard__keyrow__btn {
        flex: 1;
        height: $keyboard-btn-height;

        border: none;
        border-top-left-radius:     $base-border-radius;
        border-top-right-radius:    $base-border-radius;
        border-bottom-left-radius:  $base-border-radius * 2;
        border-bottom-right-radius: $base-border-radius * 2;
        
        //background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 7.5%, rgba(255,255,255,0) 97%, rgba(255,255,255,0.4) 100%);
        @include button-lighting-shadow($bottom-shadow-intensity, 
                                        $bottom-shadow-length, 
                                        $top-shadow-intensity, 
                                        $top-shadow-length);

        @include keyboard-btn-font($keyboard-font-size);


      }


      @at-root .keyboard__keyrow__btn--numbers {
        color:          white;
        background-color: $c-grey;

        transition-duration: .1s;
        transition-property: transform, background-color;

        &:hover{
          transform: scale(1.03);
        }

        &:active {
          transform: scale(0.95);
          @include button-lighting-shadow($bottom-shadow-intensity, 
                                          $bottom-shadow-length + 7%, 
                                          $top-shadow-intensity - $top-shadow-intensity, 
                                          $top-shadow-length);
          background-color: $c-grey;
        }
      }


      @at-root .keyboard__keyrow__btn--operators {
        color:          black;
        background-color: $c-orange;

        transition-duration: .1s;
        transition-property: transform, background-color;

        &:hover{
          transform: scale(1.03);
        }

        &:active {
          transform: scale(0.95);
          @include button-lighting-shadow($bottom-shadow-intensity, 
                                          $bottom-shadow-length + 7%, 
                                          $top-shadow-intensity - $top-shadow-intensity, 
                                          $top-shadow-length);
          background-color: $c-orange;
        }
      }
    }
  }
}

