@import "_colors.scss";
@import "_buttons.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.calculator {
  background-color: $c-darkgrey;

  @at-root #{&}__keyboard {
    background-color: aliceblue;
  }
}