:root {

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}



.fx-container {
  display: flex;
}

.fx-item {
  flex: 1;
}



.l-wrapper{
  height: 100vh;
  flex-direction: column;
}



.l-header {
  padding: 10px;
  max-height: 60px;
  text-align: center;
}



.l-main {
  flex-basis: 500px;
}

.l-footer {
  max-height: 30px;
}