:root{

}

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;

  /* outline: 1px solid red; */
}

body {
  background-color: cornflowerblue;
}


.fx-container {
  display: flex;
}

.fx-item {
  flex: 1;
}

.wrapper {
  flex-direction: column;
}

.l-view-welcome {
  max-height: 100vh;
  flex-wrap:wrap;
  background-color: black;
  color: bisque;
  mask: conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 50%/120px 100%;
}

.l-main-img > img{
  margin: 0;
  padding: 0;
  max-height: 100vh;
  width: auto;
  max-width: 100vw;
/*   mask: url(svg/blob.svg#star) center / contain no-repeat; */
}

.l-main-text {
  flex-direction: column;
  padding: 50px;
}

.l-main-text > h1 {
  margin-bottom: 20px;
  font-size: 55px;
}

.l-main-text > p {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 35px;
}



.l-section-view {
  min-height: 100vh;
}

.m-section-one {
  background-color: cornflowerblue;
  
}







.l-button-container {
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.l-button {
  font-size: 20px;
  width: 250px;
  height: 60px;
  
  background-color: black;
  color: bisque;
  
  border: none;
  border-radius: 0.4rem;
  outline: 3px dashed bisque;
}

.l-button:hover {
  outline: 3px solid bisque;
  cursor: pointer;
}