// Font Sizes
$default-font-size-min: 16;
$default-font-size-max: 22;
$secondary-font-size-min: $default-font-size-min - 2;
$secondary-font-size-max: $default-font-size-max - 2;

// Geometric sizes and spaces
$global-spacing: 20px;