:root{
  --red: #d74a49;
  --darkest-bluegray: rgb(17, 45, 54);
  --dark-bluegray: #183e4b;
  --bluegray: #1b4552;
  --light-bluegray: #8ba0a4;
  --light-gray: #eaeaea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  font-family: "Poiret One", sans-serif;
  font-size: 30px;

  padding: 0;
  margin: 0;

  /* border: 1px solid red; */
}

/* 
----------------------------------------------------------------------------

███    ███ ██ ███████  ██████ 
████  ████ ██ ██      ██      
██ ████ ██ ██ ███████ ██      
██  ██  ██ ██      ██ ██      
██      ██ ██ ███████  ██████

----------------------------------------------------------------------------
*/

#main,
#footer,
#header,
#hamburger,
.headerLogo,
.clock,
.weatherContainer{
  display: flex;
  flex: 1;
}


#footer,
#header,
.headerLogo{
  justify-content: center;
  align-items: center;
}


.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;

  color: var(--light-gray);
  background-color: var(--dark-bluegray);
}



/* 
----------------------------------------------------------------------------

██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██

----------------------------------------------------------------------------
*/

#header{
  max-height: 70px;
  padding: 10px;
  margin-bottom: 50px;
  
}


#header #hamburger img{
  cursor: pointer;
}


#header .headerLogo{
  flex: 1;
  gap: 20px;
}


#header .headerLogo img{
  filter: invert(53%) sepia(84%) saturate(4750%) hue-rotate(334deg) brightness(90%) contrast(87%);
}


#header .sectionRight{
  flex: 1;
  text-align: end;
}



/* 
----------------------------------------------------------------------------

███    ███  █████  ██ ███    ██ 
████  ████ ██   ██ ██ ████   ██ 
██ ████ ██ ███████ ██ ██ ██  ██ 
██  ██  ██ ██   ██ ██ ██  ██ ██ 
██      ██ ██   ██ ██ ██   ████     

----------------------------------------------------------------------------                      
*/

#main{
  flex-direction: column;
  align-items: center;
  gap: 50px;
}


#main #message{
  font-size: 57px;
}


#main .clock{
  align-items: center;
  gap: 50px;
  max-height: 150px;

  background-color: var(--darkest-bluegray);
  border-radius: 1rem;
}


#main .clock > *{
  flex: 1;
  text-align: center;

  font-family: "Major Mono Display", monospace;
  font-size: 100px;
}


#main .weatherContainer{
  flex-direction: column;
  justify-content: flex-start;
}


#main .weatherContainer h1{

}


#main .weatherContainer .searchContent{
  margin: 20px 0px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}


#main .weatherContainer .weatherInfo{

}


#locationInput,
#searchBtn{
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 1em;
}


#locationInput{
  background-color: var(--light-gray);
  color: var(--darkest-bluegray);
  font-weight: bold;
}


#locationInput::placeholder{
  font-weight: bold;
}


#locationInput:focus{
  outline: 4px solid #37B5B6;
}


#searchBtn{
  text-align: center;
  background-color: var(--darkest-bluegray);
  color: var(--light-gray);
  padding: 10px 20px;
  cursor: pointer;
}


#searchBtn:hover{
  background-color: var(--red);
}


#location{
  margin-bottom: 10px;
}

/* 
#temperature,
#description{

}
 */



/* 
----------------------------------------------------------------------------

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██

----------------------------------------------------------------------------
*/

#footer{
  max-height: 75px;
  background-color: var(--darkest-bluegray);

  font-size: 18px;
}

