@import '../resources/variables/colors';
@import '../resources/variables/layout_values';
@import '../resources/mixins';



*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;

  color: $c-text;


  //letter-spacing: 1px;
  //line-height: calc(26px + 0.390625vw);

  //overflow: hidden;

  //outline: 1px solid red !important;
}

body {
  z-index: -100;
  -webkit-font-smoothing: antialiased;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

p, ul, li {
  line-height: 1.5em;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

footer {
  background-color: black;
  padding: 20px 0;
  display: flex;
  justify-content: center;


  & > p {
    color: $c-text;
  }

}



button {
  border: none;
  background-color: white;
  color: black;
  padding: 15px;
}

.btn {
  flex         : 1;
  padding      : 30px 15px;
  max-width    : 400px;
  min-width    : 300px;
  border-radius: .8rem;

  color          : $c-text;
  border         : 1px solid rgb(169, 191, 227, 0.3);
  background     : rgb(169, 191, 227, 0.19);

  $blur          : 5px;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  
  transition-duration: .2s;
  transition-property: all;
  
  @include fontSizeCustom($default-font-size-min, $default-font-size-max);
}

.btn:hover {
  cursor    : pointer;

  color     : $c-bg-hero;
  border    : 1px solid rgb(169, 191, 227, 1);
  transform : scale(1.03);
  background: rgb(169, 191, 227, 1);
}
