@import '../resources/variables/colors';
@import '../resources/variables/layout_values';
@import '../resources/mixins';



*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;

  color: $c-text;


  //letter-spacing: 1px;
  //line-height: calc(26px + 0.390625vw);

  //overflow: hidden;

/*   outline: 1px solid red; */
}

body {
  z-index: -100;
}

p, ul, li {
  line-height: 1.5em;
}

footer {
  background-color: black;
  padding: 20px 0;
  display: flex;
  justify-content: center;


  & > p {
    color: $c-text;
  }

}

button {
  border: none;
  background-color: white;
  color: black;
  padding: 15px;
}
